<ion-header>
	<ion-toolbar>
		<ion-title>Details zu {{ exhibitor?.name }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="cancel()">
				<ion-icon name="close-circle-outline"></ion-icon
			></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-content-padding">
	<div class="inner">
		<img alt="Silhouette of mountains" [src]="exhibitor?.logoUrl" />
		<ion-text>
			<h3>
				Angebotene Jobs:
				<strong>{{ exhibitor?.jobTypes?.join(", ") }}</strong>
			</h3>
			<p>{{ exhibitor?.text }}</p>
			<ion-button
				fill="outline"
				color="danger"
				(click)="toggleFavorite()"
			>
				<ion-icon
					[name]="exhibitor?.isFavorite ? 'heart' : 'heart-outline'"
				></ion-icon
				>&nbsp;
				{{
					exhibitor?.isFavorite
						? "Favoriten entfernen"
						: "Favoriten hinzufügen"
				}}
			</ion-button>
			<ion-button fill="outline" (click)="showOnMap()">
				<ion-icon name="map-outline"></ion-icon>&nbsp; Auf der Karte
				anzeigen</ion-button
			>
		</ion-text>
	</div>
</ion-content>
