<style>
	:host {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
			Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol";
		font-size: 14px;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		height: 100vh;
	}
</style>
<app-layout (modeSwitch)="switchView($event)">
	@if(applicationMode === 'list') {
	<exhibitor-list [exhibitors]="exhibitors$ | async"></exhibitor-list>
	} @else {
	<exhibitor-map [exhibitors]="exhibitors$ | async"></exhibitor-map>
	}
</app-layout>
