.center {
    text-align: center;
}
ion-select {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px)
}
ion-title {
    font-family: tekomedium;
    font-weight: normal;
    text-transform: uppercase;
    color: #0631af;
    font-size: 24px;
    text-align: center;
    .second {
        color: #eb445a;
    }
}