<app-header title="Liste der Aussteller"></app-header>
<ion-content color="light">
	<div class="toggle">
		<ion-toggle color="danger" (ionChange)="handleChange($event)"
			>Nur Favoriten anzeigen</ion-toggle
		>
	</div>
	@if(exhibitors.length) {
	<ion-list color="light" [inset]="true" lines="none"
		>@for (exhibitor of exhibitors; track exhibitor.id) {
		<ion-item>
			<ion-img
				slot="start"
				[src]="exhibitor.logoUrl"
				[alt]="'Logo von ' + exhibitor.name"
			></ion-img>
			<ion-label slot="start">
				<strong>
					{{ exhibitor.name }}
				</strong>
				<p>{{ exhibitor.jobTypes.join(", ") }}</p>
			</ion-label>
			<ion-button
				fill="clear"
				slot="end"
				color="danger"
				size="large"
				(click)="toggleFavorite(exhibitor)"
			>
				<ion-icon
					[name]="exhibitor.isFavorite ? 'heart' : 'heart-outline'"
				></ion-icon>
			</ion-button>
		</ion-item>

		}</ion-list
	>
	} @else { @if( isFavoriteFilterActive | async) {
	<ion-text>
		<ion-icon size="large" name="heart-outline"></ion-icon>
		<h2>Es wurden bisher keine Favoriten angelegt.</h2>
	</ion-text>
	} }
</ion-content>
