.example-card {
  max-width: 95%;
  height: 95%;
}

.responsive {
  width: 100% !important;
  height: auto !important;
  max-width: 400px;
  margin: 0 auto;
}
.mat-mdc-card-header {
  width: 100%;
}
.mat-mdc-card-header-text {
  width: 100% !important;
}
mat-card-title {
  text-align: left;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}