ion-img {
  max-width: 24px;
  height: auto;
}
.toggle {
  display: flex;
  margin: 20px;
}
ion-toggle {
  
margin-left: auto;
}
ion-text {
  text-align: center;
  background: #fff !important;
  margin: 20px;
  padding: 20px;
  text-align: center;;
  display: flex;
  flex-direction: column;
  ion-icon {
    margin: 10px auto;
  }
}